$header-font: 'Neuton', serif;
$secondary-font: Arial, sans-serif;

h1, h2, h3, h4 {
  font-family: $header-font;
}

* {
  padding: 0 0;
  margin: 0 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #737373;
  width: 100%;
}
.container-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  box-sizing: border-box;
  width: 100%;
}
.intro {
  color: white;
  background: #70727c; /* Old browsers */
  background: -moz-linear-gradient(top, #70727c 0%, #34423f 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #70727c 0%,#34423f 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #70727c 0%,#34423f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  h1 {
    font-size: 5em;
    letter-spacing: 4px;
  }
  h3 {
    font-family: $secondary-font;
  }
  .fa-angle-double-down {
    font-size: 50px;
    position: absolute;
    animation: bounce 0.5s infinite linear;
    &:before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0px;
    }
  }
  ul {
    padding-top: 20px;
  }
  ul li {
    display: inline;
    padding: 0 5px 0 5px;
    font-size: 35px;
    &:hover {
      opacity: .75;
    }
    i {
      color: white;
    }
  }
  .inTouch {
      display: inline-block;
  }
}
@keyframes bounce {
    0% { bottom: 45px; }
    50% { bottom: 30px; }
    70% { bottom: 10px; }
    100% { bottom: 45px; }
}
.menu {
  padding-top: 60px;
  font-size: 26px;
  a {
    opacity: .5;
    color: white;
  }
}
.work {
  background: white;
  #workCategories {
    text-align: center;
    padding: 0px 0;
    opacity: .75;
    margin-bottom: 20px;
    span {
      font-family: $header-font;
      font-weight: bold;
      font-size: 24px;
      padding: 0 10px;
      position: relative;
      &.active:after {
        content: '___';
        position: absolute;
        width: 100%;
        left: 0;
        bottom: -20px;;
      }
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
  .container {
    padding: 10px 10px;
  }
  .portfolio-item {
    width: 100%;
    padding-top: 30px;
    display: none;
    &.show{
      display: inline-block;
    }
    .meta {
      width: 90%;
      margin: 0 auto;
      span {
        display: block;
        padding-top: 10px;
      }
    }
    .img {
      width: 90%;
      margin: 0 auto;
    }
    img {
      width: 100%;
      border-radius: 2%;
    }
    p {
      line-height: 1.5em;
    }
    h3 {
      font-size: 34px;
      padding-bottom: 15px;
    }
    h4 {
      padding-bottom: 20px;
    }
    button {
      border: 2px solid black;
      background: none;
      padding: 5px 15px;
      margin-top: 24px;
      font-size: 1em;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }
}

.contact {
  height: 100vh;
  position: relative;
  background: 
    linear-gradient(
    rgba(0, 0, 0, .6),
    rgba(0, 0, 0, .7) ),
    url("http://i.imgur.com/owLiZhv.jpg");
  color: white;
  h2 {
    padding: 20px 0;
    text-align: center;
    &:after {
      content: '___';
      display: block;
    }
  }
  .contactForm {
    margin: 0 auto;
    width: 70%;
  }
  input, textarea {
    padding: 8px 5px;
    width: 100%;
    font-size: 1.2em;
    font-family: $header-font;
    background: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 13px;
  }
  input{
    &:nth-child(8) {
      height: 500px; }
    }
  label {
    font-size: 22px;
    font-weight: bold;
    font-family: Arial;
  }
  textarea {
    height: 200px;
  }
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 50%;
    background: lightslategrey;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 0;
    box-shadow: 0px 0px 5px grey;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
//Desktop Specific Styling
@media screen and ( min-width: 800px ) {
  .intro h1 {
    font-size: 6em;
  }
  .work {
    .container {
      padding: 25px 25px;
      margin-left: 6%;
      margin-right: 6%;
    }
   .portfolio-item {
      .meta {
        width: 60%;
        margin-left: 2%;
        float: left;
        padding-right: 30px;
        box-sizing: border-box;
      }
    .img {
          float: right;
          width: 38%;
        }
    }
  }
  .contact {
    .contactForm {
      margin: 0 auto;
      width: 50%;
    }
  }
}