// Typography
$header-font: 'Neuton', serif;
$secondary-font: Arial, sans-serif;

// Colors
$text: #000000;
$black: #131212;
$grey-light: #f7f7f7;
$grey-medium: #f7f7f7;
$grey-dark: #4c4c4c;

// Breakpoints
$bp-800: "max-width: 800px";
$bp-800-min: "min-width: 801px";
$bp-1400: "max-width: 1400px";
$bp-1400-min: "min-width: 1401px";